.footer {
  position: absolute;
  bottom: 0;
  width: 69vw;
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  user-select: none;
}
.container1 {
  width: 30vw;
  border: 2px solid grey;
  /* height: 100dvh;  */
}
.newStyle {
  width: 40%;
  margin-left: 60%;
}
.messagebox2 {
  text-align: start;
  position: relative;
  background-color: gray;
  color: #fff;
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
}
.msgClass {
  opacity: 0.5;
}
.messagebox2::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 100%;
  margin-right: -10px; /* Half of the arrow's width to center it */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent gray transparent;
  transform: rotate(180deg);
}
.messagebox {
  /* background-color: lightgreen; */
  text-align: start;
  max-width: fit-content;
  /* height: 30px; */

  position: relative;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
  /* width: 100px; Adjust the maximum width as needed */
  /* border-color: transparent black transparent transparent; */
}
.messagebox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  margin-left: -10px; /* Half of the arrow's width to center it */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #3498db transparent;
  transform: rotate(180deg);
}
.senderName {
  color: burlywood;
  font-size: 0.9rem;
  line-height: 0;
}
.receiverName {
  color: yellow;
  font-size: 0.9rem;
  line-height: 0;
}
.timestamp {
  display: flex;
  justify-content: end;
  float: right;
  color: black;
}
.listbox {
  width: 70vw;
  background-image: url("/chat_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.scrollableList {
  max-height: 470px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  /* background-color: black; */
}
.scrollableList::-webkit-scrollbar {
  width: 6px;
}

.scrollableList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.scrollableList::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrollableList::-webkit-scrollbar-track {
  background-color: transparent;
}
